/* The following styles are for all versions of IE 7 */
/*** Start jQuery UI Theme Styles ***/
/* line 6, sass/ie7.scss */
.ui-button,
input.ui-button {
  padding: 0.1em 0 0.1em 0;
}

/* line 14, sass/ie7.scss */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  margin-top: -9px;
}

/*** End jQuery UI Theme Styles ***/
/* line 20, sass/ie7.scss */
.submit {
  margin: 0 3px;
}

/* line 23, sass/ie7.scss */
.choice-5-pt-radio ul {
  margin-left: 2.5em;
}

/* line 27, sass/ie7.scss */
.yes-no ul, .gender ul {
  margin-left: 1em;
}

/* line 31, sass/ie7.scss */
.multiple-short-txt ul.numbers-only li span {
  width: 10em;
}

/* line 36, sass/ie7.scss */
.multiple-short-txt ul, .multiple-opt-comments ul, .numeric-multi ul, .multiple-short-txt ul li, .multiple-opt-comments ul li, .numeric-multi ul li {
  margin-left: 0%;
  padding-left: 0%;
}

/* line 41, sass/ie7.scss */
.multiple-short-txt ul label {
  margin-left: 0em;
  float: left;
  display: block;
  width: 40%;
  text-align: right;
}

/* line 49, sass/ie7.scss */
.multiple-opt-comments ul li label {
  float: left;
  width: 35%;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 25px;
}

/* line 58, sass/ie7.scss */
.multiple-opt-comments ul li span.comment {
  float: left;
  width: 40%;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 66, sass/ie7.scss */
.multiple-opt-comments ul li span.comment input {
  width: 200px;
}

/* line 70, sass/ie7.scss */
.multiple-short-txt ul li, .multiple-opt-comments ul li {
  float: left;
  clear: left;
  width: 100%;
}

/* line 76, sass/ie7.scss */
.innergraph img {
  height: 16px;
  vertical-align: top;
  margin: 0px 0px 0px 0px;
}

/* line 83, sass/ie7.scss */
.multiple-short-txt td.answer, .date td.answer, .yes-no td.answer, .list-radio td.answer, .list-radio-flexible td.answer, .choice-5-pt-radio td.answer, .gender td.answer {
  padding-bottom: 10px;
}

/* line 87, sass/ie7.scss */
.choice-5-pt-radio label {
  margin: 0;
  padding: 0;
}

/* line 92, sass/ie7.scss */
.date button {
  line-height: 15px;
  height: 21px;
  width: 22px;
}

/* line 98, sass/ie7.scss */
.numeric-multi ul li label {
  float: left;
  width: auto;
}

/* line 103, sass/ie7.scss */
.numeric-multi ul li {
  float: left;
  clear: left;
  width: 100%;
}

/* line 109, sass/ie7.scss */
.numeric-multi ul li span {
  padding-left: 0;
}

/* line 113, sass/ie7.scss */
.numeric-multi input {
  padding-left: 1px;
}

/* line 117, sass/ie7.scss */
input.submit {
  padding: 0px;
}

/** UI Slider **/
/* line 122, sass/ie7.scss */
.numeric-multi label.slider-label {
  margin-top: 1.3em;
  display: inline;
  width: 40%;
}

/* line 128, sass/ie7.scss */
.slider_lefttext {
  float: left;
  padding-top: 1.45em;
}

/* line 133, sass/ie7.scss */
.slider_righttext {
  float: left;
  padding-top: 1.45em;
}
